<div id="menu">
    <ul class="menu">
        <li>Sistemas operacionais Windows e Linux</li>
        <li rel="include/fundamentos_engenharia_software.html">Fundamentos de engenharia de software</li>
        <li rel="include/analise_sistemas.html">Análise de Sistemas</li>
        <li rel="include/testes.html">Testes</li>
        <li>Conceitos de ADLM</li>
        <li>Integração Contínua</li>
        <li>JAVA</li>
        <li rel="include/android.html">Android</li>
        <li rel="include/php.html">PHP</li>
        <li>.NET</li>
        <li rel="banco">Banco de Dados</li>
        <li rel="include/web.html">Páginas web</li>
        <li rel="include/itil.html">Conceitos ITIL</li>
        <li>Conceitos Micro Servico</li>
        <li>Conceitos SOA/REST-API/WebServices</li>
        <li>Certificacao Digital/Criptografia</li>
        <li>Conceitos Programação Segura</li>
    </ul>
</div>

<!--
<div id="sidebar" class="nav">
<ul class="menu">
    <li>Sistemas operacionais Windows e Linux</li>
    <li><a href="include/fundamentos_engenharia_software.html">Fundamentos de engenharia de software</li>
    <li><a href="include/analise_sistemas.html">Análise de Sistemas</li>
    <li><a href="include/testes.html">Testes</li>
    <li>Conceitos de ADLM</li>
    <li>Integração Contínua</li>
    <li>JAVA</li>
    <li><a href="include/android.html">Android</li>
    <li><a href="include/php.html">PHP</li>
    <li>.NET</li>
    <li>Banco de Dados</li>
    <li><a href="include/web.html">Páginas web</li>
    <li><a href="include/itil.html">Conceitos ITIL</li>
    <li>Conceitos Micro Servico</li>
    <li>Conceitos SOA/REST-API/WebServices</li>
    <li>Certificacao Digital/Criptografia</li>
    <li>Conceitos Programação Segura</li>
</ul>
</div>
-->