
<h3>Técnicas de especificação de requisitos em ciclos de vida tradicional e ágil de desenvolvimento de sistemas. </h3>
<h3>Conceitos de Orientação a Objetos</h3>
	<h4>objetos e classes</h4>
	<h4>encapsulamento</h4>
	<h4>associações e ligações</h4>
	<h4>herança</h4>
	<h4>polimorfismo</h4>
	<h4>coesão</h4>
	<h4>acoplamento</h4>
<h3>Padrão MVC</h3>
<h3>Conceitos de inversão de controle</h3>
<h3>injeção de dependências</h3>
