<ol>
	<li>Linguagem PHP 5.3 e superior</li>
	<li><a href="#composer">Composer</a></li>
	<li><a href="#doctrine">DocTrine 2 e superior</a></li>
	<li><a href="#poo">orientação a objetos</a></li>
	<li><a href="#psr">PSRs</a></li>
	<li>Symphony</li>
</ol> 

<hr style="width:90;margin:15px 5px;color:gray;border:1px solid gray">

<section id="composer">
	<h2>Composer</h2>		
	<div style="float:left;margin:5px">
		<img src="./imagens/composer_01.png">
	</div>
	Composer é o gerenciador de dependências (ou pacotes) para PHP. Conheça mais sobre o Composer e saiba o que ele pode fazer por você.
	<br/><br/>

	Composer é uma ferramenta para gerenciamento de dependências em PHP. Ele permite que você declare as bibliotecas dependentes que seu projeto precisa e as instala para você. 
	<br/><br/>

	O Composer funciona, basicamente, através de duas vertentes: um repositório para os pacotes (Packagist) e instruções via linha de comando para gerenciamento dos pacotes (para procurar, instalar, atualizar, remover, etc).
	<br/><br/>

	A instalação dos pacotes é feita por projeto e, por default, nada é instalado globalmente. Por isso o Composer é considerado mais um Gerenciador de Dependências do que um Gerenciador de Pacotes (mas usar o termo “pacotes”, no caso, também não é errado).
	<br/><br/>

	Depois de configurar corretamente o arquivo composer.json para instalar as dependências informadas – através do comando <code>install</code>, no Terminal – é feita uma verificação para ver se há algum erro de sintaxe, acontece a busca no repositório pelo pacote informado, o download é realizado e a “instalação” feita no diretório apropriado – por padrão, é o diretório <code>vendor</code>, na raiz do projeto, mas isso também é configurável.
	<br/><br/>

	<a href="https://desenvolvimentoparaweb.com/php/composer-a-evolucao-php/">Fonte[1]</a>
</section>

<br clear="all">
<section id="doctrine">
	<h2>Doctrine</h2>		
	ORM ou Object Relational Mapping é a design pattern maravilhosa para se trabalhar com bancos de dados relacionais como é o MySql, por exemplo.
	<br><br>

	A real vantagem do Doctrine ORM é que ele cria uma cópia do seu banco de dados em forma de objetos, cada tabela tem a sua própria classe PHP e cada campo é uma variável. Esse conceito é chamado de entidade, ou seja, cada objeto (classe) é uma entidade do Doctrine ORM que pode ser usada para gerar o seu banco de dados completo, O Doctrine ORM dispensa o uso de classes para disponibilizar o banco de dados, ele é o model e o migration da sua aplicação.
	<br><br>

	Olhando por outro angulo, cada entidade é também um registro no banco, cada vez que criamos um novo objeto e preenchemos seus atributos (variáveis) com dados estamos na verdade trabalhando com um registro no banco de dado, na sequência apenas dizemos ao Doctrine para realizar a ação final (rodar o comando SQL), esta tarefa é o flush.
	<br><br>
	<a href="https://www.webdevbr.com.br/instalando-o-doctrine-orm-como-criar-um-crud-com-php">Fonte[1]</a>
</section>


<section id="poo">
	<h2>Programacao Orientada a Objetos</h2>

Nos primórdios da programação PHP, o código PHP limitava-se a ser de natureza processual. Código processual é caracterizado pelo uso de procedimentos para os blocos de construção do aplicativo. Os procedimentos oferecem um determinado nível de reutilização permitindo que os procedimentos sejam chamados por outros procedimentos.
	<br><br>
No entanto, sem construções de linguagem orientadas a objetos, um programador ainda pode introduzir características OO no código PHP. É um pouco mais difícil e pode tornar o código mais difícil de ler, pois está combinando paradigmas (linguagem processual com design pseudo-OO). Construções OO em código PHP — como a capacidade de definir e usar classe, a capacidade de construir relacionamentos entre classes que usam herança e a capacidade de definir interfaces — facilitam muito mais a construção de código que segue boas práticas OO.
	<br><br>
Apesar de designs puramente processuais sem muita modularidade serem executados muito bem, as vantagens de design OO aparecem na manutenção. Como um aplicativo típico gastará grande parte de seu tempo de vida em manutenção, a manutenção de código é um grande custo ao longo do tempo de vida de um aplicativo. Também pode ser facilmente esquecida durante o desenvolvimento. Se estiver correndo para desenvolver e implementar seu aplicativo, a capacidade de manutenção a longo prazo pode receber menor atenção do que colocar algo para funcionar.
		<br><br>
</section>

<section id="psr">
	<h2>PSR's</h2>
	PSR é o acrônimo para PHP Standards Recommendations (que em português pode ser traduzido para: Recomendações de padrões para PHP).
	<br><br>

	Pelo próprio nome já dá para ter uma ideia do isso significa, nada mais é que um manual de recomendações para o desenvolvimento com PHP. Ou seja, as PSRs tem o objetivo de definir padrões de códigos para que a comunidade siga e aplique as boas práticas da linguagem.
	<br><br>

	Quem mantém e define estes padrões é a PHP-FIG, que conta com uma comunidade de programadores dispostos a trabalhar e definir os padrões da linguagem.
	<br><br>

	Os profissionais que votam para definir estes padrões são sempre pessoas que trabalham em grandes projetos de softwares (Zend, Cake, Laravel, Drupal, IBM, Yii e etc).
	<br><br>

</section>