<h3>fundamentos de testes</h3>
<h3>tipos de testes</h3>
<ul>
	<li>Testes de desenvolvimento</li>
	<li>Teste unitário</li>

	<li></li>
</ul>
<h3>automação de testes funcionais</h3>
<h3>testes unitários em Java, C# e PHP</h3>